*{
    padding: 0px;
    margin: 0px;
}

.header{
    background-color: blue;
    height: 35px;
    position: sticky;
    margin: 0px 10px 0px 10px;
}
.logo{
    width: 20px;
    padding: 7px 0px 0px 100px;
    position: absolute;
}

.search{
    top: 7px;
    left: 150px;
   width: 350px;
   position: absolute;
}

.navbar ul{
    display: flex;
    float: right;
    position:absolute;
    top: 8px;
    left: 1190px;
    
}

.navbar ul li{
    list-style-type: none;
    padding-right: 50px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
}

.profile{
    border-radius: 50%;
    width: 20px;
    position: absolute;
    top: 4px;
    left: 1000px;
}
.p_name{
    position: absolute;
    top: 8px;
    left: 1030px;
    color: whitesmoke;
}

.main_div{
   
    margin:0px 10px 0px 10px;
    
}

.container{
    display: flex;
}
 

.left-div{
    width: 20%;
    background-color:rgb(207, 206, 206);
    /* background-color: rgba(206, 221, 231, 0.8); */
    height: 1360px;
    margin-bottom: 100px;
    padding-right: 30px;
} 

.left-dp{
    border: 5px solid whitesmoke;
    border-radius: 50%;
    height: 200px;
    margin: 10px 0px 0px 50px;
}

.left-links{
    padding: 20px 0px 0px 100px;
    list-style-type: none;
}

.left-links a{
    text-decoration: none; 
    color: black;
}

.left-links a:hover{
    color: brown;
}

.left-links li{
    padding-top: 10px;
}

.name{
    padding: 20px 0px 0px 100px;
}

.left-btn{
    padding: 3px;
    color: white;
    background-color: rgb(37, 203, 37);
    margin: 10px 0px 0px 90px;
    border-radius: 5px;
}



.right-div{
    width: 20%;
    
    background-color:rgb(207, 206, 206);
    /* background-color: rgba(206, 221, 231, 0.8); */
    height: 1360px;
}

.content{
    width: 100%;
}
.content .vkbro{
    width: 100%;
    height: 400px;
    display: block;
}

.middle-div{
    width: 100%;
    background-color:rgb(207, 206, 206);
    height: 960px;
    margin-bottom: 500px;
    
}

.s_btn{
    background-color: whitesmoke;
    padding: 10px 10px 10px 30px;
    border: 1px solid rgba(0, 0, 0, 0.358);
}

.s_btn button{
    padding: 1px 5px 0px 5px;
    margin-right:-5px ;
    
}

.s_btn .li-btn{
    background-color: rgba(206, 221, 231, 0.8);
}
.learn{ 
    background-color: blue;
    color: whitesmoke;
}

.s_btn  .learn{
    float: right;
    margin-right: 20px;
    padding: 2px;
}
 .msg{
    float: right;
    margin-right: 50px;
    background-color: rgba(206, 221, 231, 0.8);
}

.status{
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.358);
    border-radius: 2px;
    background-color: rgba(245, 239, 239, 0.897);
    /* background-color:rgba(206, 221, 231, 0.8); */
    display: flex;
    padding: 10px 0px 0px 0px;
    margin-right: 3px;
}

.write_post{
    width: 100%;
}

.write_post input{
    border: 1px solid rgba(0, 0, 0, 0.358);
    border-radius: 2px;
    padding-left: 30px;
}

.post_page{
    width: 80%;
    margin: 10px 0px 0px 0px;
}

.post_right{
    
    margin: 10px 0px 0px 40px;
    width: 30%;
    margin-right: 1px;
}

.post_right input{
    border: 1px solid rgba(0, 0, 0, 0.358);
    border-radius: 2px;
    padding: 10px 0px 10px 50px;
    width: 81%;

}

.mid-post-page{
    display: flex;
}

.mid-profile{
        border-radius: 50%;
        width: 20px;
        height: 30px;
        margin-left: 560px;
}

.status h6{
    font-size: large;
    margin: 5px 0px 0px 6px
}

.select_options{
    margin-left: 10px;
    width: 20px;
    height: 30px;
    background-color: rgb(135, 122, 122);
}

.post_dp{
    border-radius: 50%;
    width: 45px;
    height: 52px;
    position: absolute;
    top: 550px;
    left: 260px;
}

.write_post input{
    padding:30px 0px 30px 69px;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.358);
    border-radius: 2px;
}

.search_img{
    position: absolute;
    top: 490px;
    left:1045px;
    width: 30px;
    height: 30px;
}

.community{
    border: 1px solid rgba(0, 0, 0, 0.358);
    border-radius: 2px;
    background-color: whitesmoke;
    margin-top: 10px;
}
.comm_title{
    display: flex;
    margin-top: 10px;
    
}
.comm_title h4{
    margin-left: 10px;
    margin-top: 10px;
}


.comm_title p{
    margin-left: 120px;
    color: rgba(56, 126, 148, 0.961);
    margin-top: 10px;
}

.invite{
    display: flex;
    padding:10px;
    padding-top: 20px;
}
.invite img{
    margin-top: 3px;
}
.invite p{
    margin-left: 10px;
}

.invite p a{
    text-decoration: none;
    color: rgba(56, 126, 148, 0.961);
}

.mid-like{
    display: flex;
    padding-top: 25px;
    padding:13px;
}

.mid-like p{
    margin-left: 10px;
}

.mid-follow{
    display: flex;
    padding-top: 20px;
    padding:13px;
}

.mid-follow img{
    margin-top: 3px;
}
.mid-follow p{
    margin-left: 10px;
}


.mid-about{
    border: 1px solid rgba(0, 0, 0, 0.358);
    border-radius: 2px;
    background-color: whitesmoke;
    margin-top: 10px;
}
.about_title{
    display: flex;
    margin-top: 10px;
    
}
.about_title h4{
    margin-left: 15px;
    margin-top: 10px;
}

.about_title p{
    margin-left: 155px;
    color: rgba(56, 126, 148, 0.961);
    margin-top: 10px;
}

.messenger{
    display: flex;
    padding:10px;
}
.messenger img{
    margin-top: 2px;
}
.messenger  a{
    text-decoration: none;
    color: rgba(56, 126, 148, 0.961);
    margin-left: 15px;
}
.education{
    display: flex;
    padding: 8px;
}

.education  a{
    text-decoration: none;
    color: rgba(56, 126, 148, 0.961);
    margin-left: 3px;
    margin-top: 5px;
}

.education img{
    margin-right: 5px;
}

.mid-like{
    display: flex;
    padding-top: 25px;
    padding:13px;
}


.people{
    border: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: 2px;
    background-color: whitesmoke;
    margin-top: 10px;
    padding-bottom: 10px;
}

.people_content{
    display: flex;

}
.people_content h4{
    margin-left: 15px;
    margin-top: 10px;
}

.people_content p{
    margin-left: 155px;
    color: rgba(56, 126, 148, 0.961);
    margin-top: 10px;
}

.like_count{
    border: 1px solid rgba(0, 0, 0, 0.358);
    border-radius: 2px;
    background-color: whitesmoke;
    padding: 20px 0px 20px 0px;
    display: flex;
    padding-left: 80px;
}

.like_count p{
    margin: 10px 0px 0px 10px;
}


.page_liked{
    border: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: 2px;
    background-color: whitesmoke;
    margin-top: 10px;
    padding-bottom: 10px;
}

.page_like_content{
    display: flex;
}
.page_like_content h4{
    margin-left: 15px;
    margin-top: 10px;
}

.page_like_content p{
    margin-left: 30px;
    color: rgba(56, 126, 148, 0.961);
    margin-top: 10px;

}

.fanclubs{
    border: 1px solid rgba(0, 0, 0, 0.358);
    border-radius: 2px;
    background-color: whitesmoke;
    padding: 10px 0px 10px 10px;
    display: flex;
}

.fanclubs img{
    border-radius: 50%;
    margin-right: 10px;
}

.fanclubs button{
    margin-left: 40px;
    margin-right: 20px;
    height: 30px;
    width: 100px;
    padding: 5px 0px 5px 0px;
}

.post_part{
    border: 1px solid rgba(0, 0, 0, 0.158);
    width: 724px;
    height: 740px;
    margin-top: 10px;
    padding: 10px 0px 0px 5px;
    background-color: whitesmoke;
}

.post_part h3{
    margin-left: 11px;
}
.post_pic{

    display: flex;
}

.post_border {
    border: 1px solid rgba(0, 0, 0, 0.158);
    width: 95%;
    border-radius: 10px;
    height: 697px;
    margin: 10px 0px 0px 12px;
}

.post_border .mid-post-profile{
        border-radius: 50%;
        width: 45px;
        height: 52px;
        margin: 5px 0px 0px  10px;

}

.post_time{
    margin: 15px 0px 0px 10px;
}
.post_time p{
    font-size: small;
    color: rgb(102, 116, 128);
}

.mid-post-dot{
    margin: 13px 0px 0px 490px;
}
.post_caption{
    font-size:medium;
    margin: 10px 0px 0px 20px;
}

.post_main_pic img{
    margin-top: 10px;
    width: 100%;
    height: 400px;
}

.like_comment_share{
    display: flex;
    margin: 10px 90px 20px 90px;
}

.like_post{
    display: flex;
    
}


.like_post p{
    margin-left: 8px;
    margin-top: 3px;
}

.comment_post{
    display: flex;
    margin: 0px 150px 0px 150px  ;
}

.comment_post img{
    margin-top: 3px;
}
.comment_post p{
    margin-left: 8px;
    margin-top: 2px;
}

.share_post{
    display: flex;
}

.share_post p{
    margin-left: 5px;
}

.post_blue_like{
    border: 1px solid;
    display: flex;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.158);
}


.write_comment img{
    border-radius: 50%;
    width: 45px;
    height: 52px;
}

.write_comment{
    display: flex;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.158);
}

.write_comment input{
    margin-left: 15px;
    width: 700px;
    padding-left: 20px;
    border-radius: 60px;
}

.smile{
position: absolute;
top: 1315px;
left: 850px;
}

.gif{
    position: absolute;
top: 1315px;
left: 890px;
}

/* .emoji{
    display: none;
} */

/* .post_blue_like img:hover .emoji{
    display: ;
} */